FROM python:3.6

RUN apt-get update && \
    apt-get install -y netcat && \
    pip install --upgrade pip

RUN mkdir -p {{ build_path }}
COPY ./{{ app_name }}/ {{ build_path }}/
WORKDIR {{ build_path }}/

# set environment variables
ENV PYTHONDONTWRITEBYTECODE 1
ENV PYTHONUNBUFFERED 1

#RUN pip install --upgrade pip
COPY ./{{ app_name }}/requirements.txt .
RUN pip install -r requirements.txt

EXPOSE 8000

# run docker-entrypoint.sh
ENTRYPOINT ["./docker-entrypoint.sh"]

