version: '3.5'

services:
  db:
    image: postgres:9.6
    environment:
      - POSTGRES_DB={{postgres_db}}
      - POSTGRES_USER={{postgres_user}}
      - POSTGRES_PASSWORD={{postgres_password}}
#    ports:
#      - 5432:5432
    volumes:
      - {{ server_path }}/pgsql-data:/var/lib/postgresql/data
    networks:
      dj_net:
        ipv4_address: 192.168.100.10
    restart: always

  redis:
    image: redis:alpine
    environment:
     - REDIS_REPLICATION_MODE=master
#    ports:
#     - "6379:6379"
    volumes:
     - {{ server_path }}/redis-data:/var/lib/redis
     - {{ server_path }}/redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      dj_net:
        ipv4_address: 192.168.100.20
    restart: always

  django:
    image: django-app
    container_name: django-app
#    command: python3 manage.py runserver 0.0.0.0:8000
#    build:
#      context: './'
#      dockerfile: Dockerfile
    environment:
      - POSTGRES_HOST={{postgres_host}}
      - POSTGRES_DB={{postgres_db}}
      - POSTGRES_USER={{postgres_user}}
      - POSTGRES_PASSWORD={{postgres_password}}
      - SECRET_KEY={{secret_key}}
      - DEBUG={{debug}}
      - HOST={{host}}
      - REDIS_ADDR={{redis_addr}}
    ports:
      - "8000:8000"
#    volumes:
#     - {{ server_path }}/code_app:{{ build_path }}
    links:
      - db
    depends_on:
      - db
      - redis
    networks:
      dj_net:
        ipv4_address: 192.168.100.30
    restart: always

networks:
  dj_net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.100.0/24
